---
import Carousel from '../components/Carousel.tsx';
import Layout from '../layouts/Layout.astro';

const images = [
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
	'https://cdn.awsli.com.br/998/998959/produto/189681099/s706-fu3d8l6e0g.jpg',
	'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgICAcHCAgHBwcHBwoHBwcHBw8ICQcKIBEWFhURHxMYHCggGBolGxMTITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0NDisZFRkrKysrKys3KysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIF/8QAFxABAQEBAAAAAAAAAAAAAAAAAAERIf/EABgBAQEAAwAAAAAAAAAAAAAAAAABAgMH/8QAFREBAQAAAAAAAAAAAAAAAAAAABH/2gAMAwEAAhEDEQA/AO6A521AAAAAAAAAoAAgAAAAAAAAIoogqAAAAAAAAAAAAAAAAAAoACACgiggAACiUQBQRQEFRQABBUUAAAAAAAAAAAAAAUBABQAEBQRQFQQUKIKgCKKIKgiCooAKIKigAAAAAAAAAACwABBYAgKQQFRUUBUEFEEFRQRRREqiiAKiAKCKigAAAAAAAAAAsRYAAgoCCwIIpFRUBUViAACKgACiAKIAyRAFBFRQAAAAAAAAAAVAFAQURUBUEFVBFUBAAAAAQFAoioAigAoIqKAAAAAAAAAAAAKIoACCiKgKggoiigAAICiAgAoICgCAAKAAAAAAAAAAAAAAKIoACCiAKIIKAACAogoAAAgACgAAAAAAAAAAAAAACggoCKKlEFyBRBVSjI1hhRkaxOFEFMi0RGshwoyKKIKgAAAAAAAAAAAAAAAAKAgKgCiKgAAAIACgCAqAoAAICgAAAAAAAAAAAAAAAAqAKIqAAAACiAAAAAAACAoAAAAAAAAAAAAAAAAAAAAAAKAACAAAAAIKAAAAAAAAAAAAAAP/2Q==',
];

const stackeholders = [
  {
    name: "FDTE",
    logo: '/fdte.png',
    website: "https://www.fdte.org.br/",
  },
  {
    name: "USP",
    logo: '/usp.png',
    website: "https://www5.usp.br/",
  },
  {
    name: "caixa",
    logo: '/caixa.png',
    website: "https://www.caixa.gov.br/",
  },
];
const BUCKET_URL = 'https://bipc-avatar.s3.sa-east-1.amazonaws.com'
const team = [
  {
    name: "Vanderley Moacyr John",
    role: "Coordenação",
    photo: `${BUCKET_URL}/Vanderley+John.png`,
  },
  {
    name: "Mayara Munaro",
    role: "Coordenação adjunta",
    photo: `${BUCKET_URL}/Mayara+Munaro.png`,
  },
  {
    name: "Lucas Melchiori Pereira",
    role: "Liderança plataforma",
    photo: `${BUCKET_URL}/Lucas+Pereira.png`,
  },
  {
    name: "Ercília Hirota Pereira",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Erc%C3%ADlia+Pereira.png`,
  },
  {
    name: "Rubiane Antunes",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Rubiane+Antunes.png`,
  },
  {
    name: "Maria Alice Gonzales",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Maria+Gonzales.png`,
  },
  {
    name: "Gabriela Lopes Barroso",
    role: "Gestão da Rotina",
    photo: `${BUCKET_URL}/Gabriela+Barroso.png`,
  },
  {
    name: "Jonas Firmino",
    role: "Administrativo",
    photo: `${BUCKET_URL}/Jonas+Firmino.png`,
  },
  {
    name: "Eder Santin",
    role: "Jornalista Científico",
    photo: `${BUCKET_URL}/Eder+Santin.png`,
  },
  {
    name: "Bruna Diniz Franqueira",
    role: "Transparência em Proteção de Dados",
    photo: `${BUCKET_URL}/Bruna+Franqueira.png`,
  },
  {
    name: "Felipe Okino",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Felipe+Okino.png`,
  },
  {
    name: "Mateus Miranda",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Mateus+Miranda.png`,
  },
  {
    name: "Bruno Avelino",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Bruno+Avelino.png`,
  },
  {
    name: "Anderson Alvarenga",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Anderson+Alvarenga.png`,
  },
  {
    name: "Igor Vac",
    role: "Design UX/UI",
    photo: `${BUCKET_URL}/Igor+Vac.png`,
  },
  {
    name: "Alessandra Petrecca",
    role: "Design UX/UI",
    photo: `${BUCKET_URL}/Alessandra+Petrecca.png`,
  },
  {
    name: "Cassio Oliveira",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Cassio+Oliveira.png`,
  },
  {
    name: "Rhonner Politzer Ramírez Flores",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Rhonner+Flores.png`,
  },
  {
    name: "Heloisa Cristina Fernandes",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Heloisa+Fernandes.png`,
  },
  {
    name: "Carolina M. De Freitas M.De Souza",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Carolina+Souza.png`,
  },
  {
    name: "Kamilla Vasconcelos Savasini",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Kamilla+Savasini.png`,
  },
  {
    name: "Jean Appel",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Jean+Appel.png`,
  },
  {
    name: "Katia Regina Garcia Punhagui",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Katia+Punhagui.png`,
  },
  {
    name: "Lucas Caldas",
    role: "Pesquisador ",
    photo: `${BUCKET_URL}/Lucas+Caldas.png`,
  },
  {
    name: "Karine Hilgenber",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Karine+Hilgenber.png`,
  },
  {
    name: "Arthur Ferreira De Araujo",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Arthur+Araujo.png`,
  },

  {
    name: "Cristina de Hollanda Cavalcanti Tsuha",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Cristina+Tsuha.png`,
  },
  {
    name: "Zila Maria Garcia Mascarenhas",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Zila+Mascarenhas.png`,
  },
  {
    name: "Danielly Letícia Rebelatto",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Danielly+Rebelatto.png`,
  },
  {
    name: "Manuele Harnisch",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Manuele+Harnisch.png`,
  },
  {
    name: "Lígia Pegorer",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/L%C3%ADgia+Pegorer.png`,
  },
  {
    name: "Talita Silva",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Talita+Silva.png`,
  },
  {
    name: "Gabrielle Gieremek",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Gabrielle+Gieremek.png`,
  },
  {
    name: "Juliana Clark",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Juliana+Clark.png`,
  },
];

const advisoryCommittee = [
  {
    name: "Abram Belk",
    role: "",
    photo: `${BUCKET_URL}/Abram+Belk.png`,
  },
  {
    name: "Ana Cecília Sestak",
    role: "",
    photo: `${BUCKET_URL}/Ana+Sestak.png`,
  },
  {
    name: "Carlos Massucato",
    role: "",
    photo: `${BUCKET_URL}/Carlos+Massucato.png`,
  },
  {
    name: "Clarice Degani",
    role: "",
    photo: `${BUCKET_URL}/Clarisse+Degani.png`,
  },
];


const TopSection = () => {
  return (
    <section class="flex flex-col lg:flex-row gap-8 lg:gap-12 items-center">
      <div class="w-full lg:w-1/2 flex flex-col justify-center items-center gap-6">
        <img
          src={'/logo_full.svg'}
          alt="logo completa do BIPC"
          class="w-full max-w-[420px] mb-6 lg:mb-10"
          width={420}
          height={100}
        />
        <div class="w-full flex flex-col gap-4 md:gap-6 text-sm md:text-base">
          <p>
            Em contraposição à matriz elétrica brasileira, uma das mais limpas
            do mundo, a nossa construção civil é uma importante emissora de CO2,
            representando uma oportunidade de mitigação.
          </p>
          <p>
            Materiais como cimento, o aço e vidro carregam consigo uma pegada de
            carbono significativa para o canteiro de obras, pois já emitiram
            carbono durante a sua produção. Para entender como se dão essas
            emissões nas construções formais e informais precisamos de um
            diagnóstico apurado, que reflita a complexidade da construção civil
            brasileira.
          </p>
          <p>
            Por esse motivo foi desenvolvido o Benchmark Iterativo para Projetos
            de baixo Carbono: a plataforma BIPc – onde é possível estimar o
            consumo de materiais e a pegada de CO2 embutido nas moradias, de
            forma prática, inteligente e escalável. Projetistas e construtoras
            podem comparar o desempenho estimado de seu projeto com o de outros
            projetos já executados.
          </p>

          <p>
            A ferramenta permite à equipe ter uma ideia do impacto de carbono da
            construção na emissao de carbono, verificar em tempo real o
            benchmark dos projetos existentes no mercado e conhecer as
            tendências de evolução das emissões de carbono, tudo antes de
            concluir o projeto.
          </p>

          <p>
            A plataforma integra o processo de projeto à ferramenta de cálculo,
            fornecendo estimativas instantâneas sobre o impacto ambiental de
            cada decisão.
          </p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 flex justify-center items-center">
        <img src={'/city-about.png'} alt="about image" width={520} height={520} />
      </div>
    </section>
  );
}

const StackeholderSection = () => {
  return (
    <section class="w-full mt-20 mb-10 flex flex-col items-center gap-6 md:gap-10">
      <h1 class="text-primary font-semibold text-xl md:text-2xl">
        Realização
      </h1>
      <div class="w-full flex flex-col sm:flex-row flex-wrap lg:flex-nowrap justify-center items-center gap-8 md:gap-12 lg:gap-16">
        {stackeholders.map((stakehoder) => (
          <a
            href={stakehoder.website}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-block"
          >
            <img
              src={stakehoder.logo}
              alt="caixa logo"
              class="h-12 md:h-16 lg:h-20"
              width={200}
              height={20}
            />
          </a>
        ))}
      </div>
    </section>
  );
};

const TeamSection = ({
  people,
  title,
}: {
  people: Array<{ name: string; role: string; photo?: string }>;
  title: string;
}) => {
  return (
    <section class="w-full mt-20 flex flex-col items-start gap-6 md:gap-10">
      <h1 class="text-primary font-semibold text-xl md:text-2xl">
        {title}
      </h1>
      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 md:gap-8 lg:gap-10 justify-items-center">
        {people.map(
          (member: { name: string; role: string; photo?: string }) => (
            <div
              class="flex flex-col items-center gap-3 md:gap-4 w-full max-w-[200px]"
            >
              {member.photo ? (
                <img
                  src={member.photo}
                  alt={member.name}
                  class="w-32 h-32 md:w-40 md:h-40 aspect-square rounded-full object-cover flex-shrink-0"
                  width={100}
                  height={20}
                />
              ) : null}

              <div class="w-full px-2">
                <h2 class="text-sm md:text-base font-semibold text-center text-primary break-words line-clamp-2">
                  {member.name}
                </h2>
                <p class="text-xs sm:text-sm text-primary text-center line-clamp-2">
                  {member.role}
                </p>
              </div>
            </div>
          )
        )}
      </div>
    </section>
  );
};

---

<Layout class="bg-background">
	<main
		class="w-full flex flex-col justify-center items-center gap-10 bg-background"
	>
		<div
			class="flex justify-between w-3/4 gap-10 max-md:flex-col max-md:w-full"
		>
			<div class="w-1/3 max-md:w-full">
				<img class="w-full mx-auto" src="/images/uploads/logo.png" alt="" />
				<p class="text-left text-sm p-2">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
				</p>
			</div>
			<div class="w-2/3 flex flex-col justify-start max-md:w-full">
				<h1 class="font-bold text-2xl pb-3">Missão</h1>
				<p class="text-justify">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo
					culpa fugiat ad saepe eaque dicta distinctio illo? Consectetur
					adipisci, eaque quibusdam veritatis, laborum ipsum aperiam quidem
					totam corporis, consequuntur ea? Lorem ipsum dolor sit amet
					consectetur adipisicing elit. Deserunt, sit sunt? Dolores sit veniam
					rem repellat magnam, omnis voluptatem dignissimos blanditiis, voluptas
					mollitia corrupti quia doloremque expedita quo sapiente vitae. lore
				</p>
			</div>
		</div>
		<Carousel images={images} client:visible />
	</main>
</Layout>
