---
import Carousel from '../components/Carousel.tsx';
import Layout from '../layouts/Layout.astro';
import {TopSection,
StackeholderSection,
TeamSection,
} from '../components/index'

const BUCKET_URL = 'https://bipc-avatar.s3.sa-east-1.amazonaws.com'
const team = [
  {
    name: "Vanderley Moacyr John",
    role: "Coordenação",
    photo: `${BUCKET_URL}/Vanderley+John.png`,
  },
  {
    name: "Mayara Munaro",
    role: "Coordenação adjunta",
    photo: `${BUCKET_URL}/Mayara+Munaro.png`,
  },
  {
    name: "Lucas Melchiori Pereira",
    role: "Liderança plataforma",
    photo: `${BUCKET_URL}/Lucas+Pereira.png`,
  },
  {
    name: "Ercília Hirota Pereira",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Erc%C3%ADlia+Pereira.png`,
  },
  {
    name: "Rubiane Antunes",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Rubiane+Antunes.png`,
  },
  {
    name: "Maria Alice Gonzales",
    role: "Gestão operacional",
    photo: `${BUCKET_URL}/Maria+Gonzales.png`,
  },
  {
    name: "Gabriela Lopes Barroso",
    role: "Gestão da Rotina",
    photo: `${BUCKET_URL}/Gabriela+Barroso.png`,
  },
  {
    name: "Jonas Firmino",
    role: "Administrativo",
    photo: `${BUCKET_URL}/Jonas+Firmino.png`,
  },
  {
    name: "Eder Santin",
    role: "Jornalista Científico",
    photo: `${BUCKET_URL}/Eder+Santin.png`,
  },
  {
    name: "Bruna Diniz Franqueira",
    role: "Transparência em Proteção de Dados",
    photo: `${BUCKET_URL}/Bruna+Franqueira.png`,
  },
  {
    name: "Felipe Okino",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Felipe+Okino.png`,
  },
  {
    name: "Mateus Miranda",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Mateus+Miranda.png`,
  },
  {
    name: "Bruno Avelino",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Bruno+Avelino.png`,
  },
  {
    name: "Anderson Alvarenga",
    role: "Desenvolvedor",
    photo: `${BUCKET_URL}/Anderson+Alvarenga.png`,
  },
  {
    name: "Igor Vac",
    role: "Design UX/UI",
    photo: `${BUCKET_URL}/Igor+Vac.png`,
  },
  {
    name: "Alessandra Petrecca",
    role: "Design UX/UI",
    photo: `${BUCKET_URL}/Alessandra+Petrecca.png`,
  },
  {
    name: "Cassio Oliveira",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Cassio+Oliveira.png`,
  },
  {
    name: "Rhonner Politzer Ramírez Flores",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Rhonner+Flores.png`,
  },
  {
    name: "Heloisa Cristina Fernandes",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Heloisa+Fernandes.png`,
  },
  {
    name: "Carolina M. De Freitas M.De Souza",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Carolina+Souza.png`,
  },
  {
    name: "Kamilla Vasconcelos Savasini",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Kamilla+Savasini.png`,
  },
  {
    name: "Jean Appel",
    role: "Pesquisador",
    photo: `${BUCKET_URL}/Jean+Appel.png`,
  },
  {
    name: "Katia Regina Garcia Punhagui",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Katia+Punhagui.png`,
  },
  {
    name: "Lucas Caldas",
    role: "Pesquisador ",
    photo: `${BUCKET_URL}/Lucas+Caldas.png`,
  },
  {
    name: "Karine Hilgenber",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Karine+Hilgenber.png`,
  },
  {
    name: "Arthur Ferreira De Araujo",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Arthur+Araujo.png`,
  },

  {
    name: "Cristina de Hollanda Cavalcanti Tsuha",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Cristina+Tsuha.png`,
  },
  {
    name: "Zila Maria Garcia Mascarenhas",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Zila+Mascarenhas.png`,
  },
  {
    name: "Danielly Letícia Rebelatto",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Danielly+Rebelatto.png`,
  },
  {
    name: "Manuele Harnisch",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Manuele+Harnisch.png`,
  },
  {
    name: "Lígia Pegorer",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/L%C3%ADgia+Pegorer.png`,
  },
  {
    name: "Talita Silva",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Talita+Silva.png`,
  },
  {
    name: "Gabrielle Gieremek",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Gabrielle+Gieremek.png`,
  },
  {
    name: "Juliana Clark",
    role: "Pesquisadora",
    photo: `${BUCKET_URL}/Juliana+Clark.png`,
  },
];

const advisoryCommittee = [
  {
    name: "Abram Belk",
    role: "",
    photo: `${BUCKET_URL}/Abram+Belk.png`,
  },
  {
    name: "Ana Cecília Sestak",
    role: "",
    photo: `${BUCKET_URL}/Ana+Sestak.png`,
  },
  {
    name: "Carlos Massucato",
    role: "",
    photo: `${BUCKET_URL}/Carlos+Massucato.png`,
  },
  {
    name: "Clarice Degani",
    role: "",
    photo: `${BUCKET_URL}/Clarisse+Degani.png`,
  },
];


---

<Layout class="bg-background">
	<div class="w-full flex justify-center">
		<div class="w-full max-w-7xl px-6 lg:px-12 py-10 flex flex-col">
			<TopSection />
			<StackeholderSection />
			<TeamSection people={team} title="Quem Somos?" />
			<TeamSection people={advisoryCommittee} title="Comitê Consultivo" />
		</div>
	</div>
</Layout>
